asgiref==3.8.1
black==25.1.0
bleach==6.2.0
cffi==1.17.1
click==8.1.8
colorama==0.4.6
cryptography==44.0.2
cssbeautifier==1.15.4
dj-database-url==2.3.0
Django==5.1.7
django-extensions==3.2.3
django-htmx==1.23.0
django-picklefield==3.3
django-prose==2.1.0
django-q2==1.7.6
django-render-block==0.10
django-tailwind==3.8.0
djlint==1.36.4
EditorConfig==0.17.0
et_xmlfile==2.0.0
filelock==3.18.0
future==1.0.0
gunicorn==23.0.0
isort==6.0.1
jsbeautifier==1.15.4
json5==0.10.0
mypy-extensions==1.0.0
openpyxl==3.1.5
packaging==24.2
pathspec==0.12.1
platformdirs==4.3.6
psycopg2-binary==2.9.10
pycparser==2.22
PyMySQL==1.1.1
python-dotenv==1.0.1
PyYAML==6.0.2
pyzk==0.9
redis==6.1.0
regex==2024.11.6
six==1.17.0
sqlparse==0.5.3
tomli==2.2.1
tqdm==4.67.1
typing_extensions==4.12.2
webencodings==0.5.1
whitenoise==6.9.0
