{% extends "layout.html" %}
{% block content %}
    {% include "navbar.html" %}
    <div class="flex flex-col items-center px-4 2xl:px-0 pt-6 xl:gap-4 dark:bg-gray-900">
        <div class="w-full relative px-2 lg:px-10">
            <div class="flex flex-row justify-between mt-10">
                <h1 class="text-xl font-semibold text-gray-900 sm:text-2xl dark:text-white py-3">App Logs Management</h1>
            </div>
            {% block leave_management_section %}
                <div id="leave_management_section"
                     class="h-[48rem] overflow-y-auto flex flex-col gap-6 p-4 mb-4 bg-white border border-gray-200 rounded-lg shadow-sm 2xl:col-span-2 dark:border-gray-700 sm:p-6 dark:bg-gray-800">
                    <div class="flex flex-row gap-4 h-full">
                        <div class="w-1/3 flex flex-col justify-between p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                        </div>
                        <div class="w-full p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                            <div class="relative h-[42rem] overflow-y-auto overflow-x-auto shadow-md sm:rounded-lg">
                                <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                                    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                                        <tr>
                                            <th scope="col" class="px-6 py-3">Type</th>
                                            <th scope="col" class="px-6 py-3">Module</th>
                                            <th scope="col" class="px-6 py-3">User</th>
                                            <th scope="col" class="px-6 py-3">Date</th>
                                            <th scope="col" class="px-6 py-3">Details</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for log in logs %}
                                            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                                                <th scope="row"
                                                    class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                                    {{ log.get_type_display }}
                                                </th>
                                                <td class="px-6 py-4">{{ log.get_module_display }}</td>
                                                <td class="px-6 py-4">{{ log.user.userdetails.get_user_fullname }}</td>
                                                <td class="px-6 py-4">{{ log.user.userdetails.created|timesince }}</td>
                                                <td class="px-6 py-4">{{ log.details }}</td>
                                            </tr>
                                        {% empty %}
                                            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                                                <td class="font-bold text-xl px-6 py-4 text-center" colspan="5">No Application Log Records Found</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            {% endblock %}
        </div>
    </div>
{% endblock %}
{% block javascript %}{% endblock %}
