{% extends "layout.html" %}
{% load static %}
{% block title %}Settings{% endblock %}
{% block content %}
    {% include "navbar.html" %}
    <div class="flex flex-col items-center px-4 2xl:px-0 pt-6 xl:gap-4 dark:bg-gray-900">
        <div class="w-full px-2 lg:px-10">
            <h1 class="text-xl font-semibold text-gray-900 sm:text-2xl dark:text-white py-3 mt-10">Settings</h1>
            {% block department_settings_section %}
                <div id="department_settings_section"
                     class="p-4 mb-4 bg-white border border-gray-200 rounded-lg shadow-sm 2xl:col-span-2 dark:border-gray-700 sm:p-6 dark:bg-gray-800 relative">
                    <div class="flex justify-between">
                        <h3 class="mb-4 text-xl font-semibold dark:text-white">Departments</h3>
                        <div>
                            <button type="button"
                                    hx-get="{% url 'core:add_department' %}"
                                    class="px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                                Add Department
                            </button>
                        </div>
                    </div>
                    {% block departments_table_content_container %}
                        <div id="departments_table_content_container">
                            <div class="overflow-x-auto overflow-y-auto h-[38rem]">
                                <div class="inline-block min-w-full align-middle">
                                    <div class="overflow-hidden shadow">
                                        {% block department_table %}
                                            <table id="department_table"
                                                   class="min-w-full divide-y divide-gray-200 table-fixed dark:divide-gray-600">
                                                <thead class="bg-gray-100 dark:bg-gray-700">
                                                    <tr>
                                                        <th scope="col"
                                                            class="p-4 text-xs font-medium text-left text-gray-500 uppercase dark:text-gray-400">
                                                            Name
                                                        </th>
                                                        <th scope="col"
                                                            class="p-4 text-xs font-medium text-left text-gray-500 uppercase dark:text-gray-400">
                                                            Actions
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody class="bg-white divide-y divide-gray-200 dark:bg-gray-800 dark:divide-gray-700">
                                                    {% for department in departments %}
                                                        {% block department_table_record %}
                                                            <tr class="hover:bg-gray-100 dark:hover:bg-gray-700">
                                                                <td class="flex items-center p-4 mr-12 space-x-6 whitespace-nowrap">
                                                                    <div class="text-sm font-normal text-gray-500 dark:text-gray-400">
                                                                        <div class="text-base font-semibold text-gray-900 dark:text-white">{{ department.name|title }}</div>
                                                                    </div>
                                                                </td>
                                                                <td class="p-4 space-x-2 whitespace-nowrap">
                                                                    <button hx-get="{% url "core:edit_department" %}"
                                                                            hx-vals='{"department_id": {{ department.id }}}'
                                                                            class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white rounded-lg bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">
                                                                        <svg class="w-4 h-4 mr-2"
                                                                             fill="currentColor"
                                                                             viewBox="0 0 20 20"
                                                                             xmlns="http://www.w3.org/2000/svg">
                                                                            <path d="M17.414 2.586a2 2 0 00-2.828 0L7 10.172V13h2.828l7.586-7.586a2 2 0 000-2.828z"></path>
                                                                            <path fill-rule="evenodd" d="M2 6a2 2 0 012-2h4a1 1 0 010 2H4v10h10v-4a1 1 0 112 0v4a2 2 0 01-2 2H4a2 2 0 01-2-2V6z" clip-rule="evenodd">
                                                                            </path>
                                                                        </svg>
                                                                        Edit
                                                                    </button>
                                                                    <button hx-post="{% url "core:delete_department" %}"
                                                                            hx-vals='{"department_id": {{ department.id }}}'
                                                                            class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-orange-600 rounded-lg hover:bg-orange-800 focus:ring-4 focus:ring-orange-300 dark:focus:ring-orange-900">
                                                                        <svg class="w-4 h-4 mr-2"
                                                                             fill="currentColor"
                                                                             viewBox="0 0 20 20"
                                                                             xmlns="http://www.w3.org/2000/svg">
                                                                            <path fill-rule="evenodd" d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z" clip-rule="evenodd">
                                                                            </path>
                                                                        </svg>
                                                                        Delete
                                                                    </button>
                                                                </td>
                                                            </tr>
                                                        {% endblock %}
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        {% endblock %}
                                    </div>
                                </div>
                            </div>
                            <div class="sticky bottom-0 right-0 items-center w-full p-4 bg-white border-t border-gray-200 sm:flex sm:justify-between dark:bg-gray-800 dark:border-gray-700">
                                <div class="flex items-center mb-4 sm:mb-0">
                                    <span class="text-sm font-normal text-gray-500 dark:text-gray-400">Showing <span class="font-semibold text-gray-900 dark:text-white">{{ departments.count }}</span> results</span>
                                </div>
                            </div>
                        </div>
                    {% endblock %}
                </form>
            </div>
        {% endblock %}
    </div>
    {% block add_department_modal %}
        <div id="add_department_modal"
             tabindex="-1"
             class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
            <div class="relative p-4 w-full max-w-2xl max-h-full">
                <form hx-post="{% url 'core:add_department' %}"
                      class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                    <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
                        <h3 class="text-xl font-semibold text-gray-900 dark:text-white">Add New Department</h3>
                        <button type="button"
                                class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
                                hx-post="{% url 'core:core_module_close_modals' %}"
                                hx-vals='{"event_name": "closeAddDepartmentModal"}'>
                            <svg class="w-3 h-3"
                                 aria-hidden="true"
                                 xmlns="http://www.w3.org/2000/svg"
                                 fill="none"
                                 viewBox="0 0 14 14">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
                            </svg>
                        </button>
                    </div>
                    {% block add_department_modal_content %}
                        <div id="add_department_modal_content" class="p-4 md:p-5 space-y-4">
                            <div>
                                <label for="department_name_id"
                                       class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                                    Name:
                                </label>
                                <input id="department_name_id"
                                       type="text"
                                       name="name"
                                       class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                       required />
                            </div>
                            <div>
                                <label for="department_code_id"
                                       class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                                    Code:
                                </label>
                                <input id="department_code_id"
                                       type="text"
                                       name="code"
                                       class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                       required />
                            </div>
                        </div>
                    {% endblock %}
                    <!-- Modal footer -->
                    <div class="flex items-center p-4 md:p-5 border-t border-gray-200 rounded-b dark:border-gray-600">
                        <button type="submit"
                                class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                            Add
                        </button>
                    </div>
                </form>
            </div>
        </div>
    {% endblock %}
    {% block edit_department_modal %}
        <div id="edit_department_modal"
             tabindex="-1"
             class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
            <div class="relative p-4 w-full max-w-2xl max-h-full">
                <form hx-post="{% url 'core:edit_department' %}"
                      class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                    <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
                        <h3 class="text-xl font-semibold text-gray-900 dark:text-white">Add New Department</h3>
                        <button type="button"
                                class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
                                hx-post="{% url 'core:core_module_close_modals' %}"
                                hx-vals='{"event_name": "closeEditDepartmentModal"}'>
                            <svg class="w-3 h-3"
                                 aria-hidden="true"
                                 xmlns="http://www.w3.org/2000/svg"
                                 fill="none"
                                 viewBox="0 0 14 14">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
                            </svg>
                        </button>
                    </div>
                    {% block edit_department_modal_content %}
                        <div id="edit_department_modal_content" class="p-4 md:p-5 space-y-4">
                            <div>
                                <input name="department_id" type="hidden" value="{{ department.id }}">
                                <label for="edit_department_id"
                                       class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                                    Name:
                                </label>
                                <input id="edit_department_id"
                                       type="text"
                                       name="name"
                                       value="{{ department.name }}"
                                       class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                       required />
                            </div>
                            <div>
                                <label for="edit_department_code_id"
                                       class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                                    Code:
                                </label>
                                <input id="edit_department_code_id"
                                       type="text"
                                       name="code"
                                       value="{{ department.code }}"
                                       class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                       required />
                            </div>
                        </div>
                    {% endblock %}
                    <!-- Modal footer -->
                    <div class="flex items-center p-4 md:p-5 border-t border-gray-200 rounded-b dark:border-gray-600">
                        <button type="submit"
                                class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                            Update
                        </button>
                    </div>
                </form>
            </div>
        </div>
    {% endblock %}
    {% block department_delete_confirmation_modal %}
        <div id="department_delete_confirmation_modal"
             tabindex="-1"
             class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
            {% block department_delete_confirmation_modal_content %}
                <div id="department_delete_confirmation_modal_content"
                     class="relative p-4 w-full max-w-md max-h-full">
                    {% if department %}
                        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                            <button type="button"
                                    class="absolute top-3 end-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
                                    hx-post="{% url 'core:core_module_close_modals' %}"
                                    hx-vals='{"event_name": "closeDepartmentDeleteConfigmationModal"}'>
                                <svg class="w-3 h-3"
                                     aria-hidden="true"
                                     xmlns="http://www.w3.org/2000/svg"
                                     fill="none"
                                     viewBox="0 0 14 14">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
                                </svg>
                            </button>
                            <div class="p-4 md:p-5 text-center">
                                <svg class="mx-auto mb-4 text-gray-400 w-12 h-12 dark:text-gray-200"
                                     aria-hidden="true"
                                     xmlns="http://www.w3.org/2000/svg"
                                     fill="none"
                                     viewBox="0 0 20 20">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 11V6m0 8h.01M19 10a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                                </svg>
                                <h3 class="mb-5 text-lg font-normal text-gray-500 dark:text-gray-400">
                                    Are you sure you want to delete <strong>{{ department.name }}</strong> department?
                                </h3>
                                <button hx-delete="{% url 'core:delete_department' %}"
                                        hx-vals='{"department_id": {{ department.id }}}'
                                        type="button"
                                        class="text-white bg-red-600 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center">
                                    Delete
                                </button>
                                <button hx-post="{% url 'core:core_module_close_modals' %}"
                                        hx-vals='{"event_name": "closeDepartmentDeleteConfigmationModal"}'
                                        type="button"
                                        class="py-2.5 px-5 ms-3 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">
                                    Cancel
                                </button>
                            </div>
                        </div>
                    {% endif %}
                </div>
            {% endblock %}
        </div>
    {% endblock %}
</div>
{% endblock %}

