{% extends "layout.html" %}
{% block title %}
    {{ selected_user.userdetails.get_user_fullname }} Punctuality Report - ({{ from_date_display }} - {{ to_date_display }})
{% endblock title %}
{% block content %}
    <div class="w-[65rem] mx-auto p-6">
        <div>
            <input type="hidden"
                   id="employee_punctuality_report_data"
                   value="{{ chart_option_data }}">
            <div class="w-full bg-white rounded-lg border shadow dark:bg-gray-800 p-4 md:p-6">
                <div class="flex justify-between items-start w-full">
                    <dl>
                        <dt class="text-xl font-normal text-gray-500 dark:text-gray-400 pb-1">
                            Name: <b>{{ selected_user.userdetails.get_user_fullname|title }}</b>
                        </dt>
                        <dt class="text-xl font-normal text-gray-500 dark:text-gray-400 pb-1">
                            Punctuality Report - <b>({{ from_date_display }} - {{ to_date_display }})</b>
                        </dt>
                    </dl>
                </div>
                {% if option == "all" or option == "table" %}
                    <div class="relative overflow-x-auto border-b-2">
                        <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                                <tr>
                                    <th scope="col" class="w-1/2 px-6 py-3 text-center">On Time / Early</th>
                                    <th scope="col" class="w-1/2 px-6 py-3 text-center">Late</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for data in employee_punctuality_table_data %}
                                    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                                        <td class="px-6 py-4 text-center">{{ data.0 }}</td>
                                        <td class="px-6 py-4 text-center">{{ data.1 }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% endif %}
                {% if option == "all" or option == "chart" %}
                    <div class="py-6" id="pie-chart"></div>
                    <script>
                        var employeePunctualityReportChartOptions = () => {
                            const inputElement = document.getElementById('employee_punctuality_report_data');
                            const inputValue = inputElement.value;
                            let parsedArray = {};

                            if (inputValue) {
                                parsedArray = JSON.parse(inputValue);
                            }

                            const attendance_status = parsedArray.attendance_status;
                            const attendance_values = parsedArray.attendance_values;

                            return {
                                series: attendance_values,
                                colors: ["#1C64F2", "#16BDCA", "#9061F9", "#FF6F61", "#D4AF37"],
                                chart: {
                                    height: 420,
                                    width: "100%",
                                    type: "pie",
                                },
                                stroke: {
                                    colors: ["white"],
                                    lineCap: "",
                                },
                                plotOptions: {
                                    pie: {
                                        labels: {
                                            show: true,
                                        },
                                        size: "100%",
                                        dataLabels: {
                                            offset: -25
                                        }
                                    },
                                },
                                labels: attendance_status,
                                dataLabels: {
                                    enabled: true,
                                    style: {
                                        fontFamily: "Inter, sans-serif",
                                    },
                                },
                                legend: {
                                    position: "bottom",
                                    fontFamily: "Inter, sans-serif",
                                    fontSize: '14px',
                                    formatter: function(seriesName, opts) {
                                        const count = opts.w.globals.series[opts.seriesIndex] || 0;
                                        return `${seriesName}: ${count}`;
                                    },
                                },
                                yaxis: {
                                    labels: {
                                        formatter: function(value) {
                                            return value
                                        },
                                    },
                                },
                                xaxis: {
                                    labels: {
                                        formatter: function(value) {
                                            return value + "%"
                                        },
                                    },
                                    axisTicks: {
                                        show: false,
                                    },
                                    axisBorder: {
                                        show: false,
                                    },
                                },
                            }
                        }

                        if (document.getElementById("pie-chart") && typeof ApexCharts !== 'undefined') {
                            if (window.employeePunctualityReportChart) {
                                window.employeePunctualityReportChart.destroy()
                            }
                            window.employeePunctualityReportChart = new ApexCharts(document.getElementById("pie-chart"), employeePunctualityReportChartOptions());
                            window.employeePunctualityReportChart.render();
                        }
                    </script>
                {% endif %}
            </div>
            <div class="w-full flex flex-col items-center justify-center mt-2 gap-2">
                {% if not hide_print_download_button and not for_print_download %}
                    <p class="text-xl text-gray-900 whitespace-nowrap dark:text-white">Print/Download</p>
                    <div class="inline-flex rounded-md shadow-sm" role="group">
                        <button type="button"
                                hx-post="{% url "reports_and_analytics:popup_employee_punctuality_report" %}"
                                hx-vals='{"selected_user": {{ selected_user.id }}, "from_date": "{{ from_date }}", "to_date": "{{ to_date }}", "option": "all"}'
                                class="px-4 py-2 text-sm font-medium text-gray-900 bg-transparent border border-gray-900 rounded-s-lg hover:bg-gray-900 hover:text-white focus:z-10 focus:ring-2 focus:ring-gray-500 focus:bg-gray-900 focus:text-white dark:border-white dark:text-white dark:hover:text-white dark:hover:bg-gray-700 dark:focus:bg-gray-700">
                            All
                        </button>
                        <button type="button"
                                hx-post="{% url "reports_and_analytics:popup_employee_punctuality_report" %}"
                                hx-vals='{"selected_user": {{ selected_user.id }}, "from_date": "{{ from_date }}", "to_date": "{{ to_date }}", "option": "table"}'
                                class="px-4 py-2 text-sm font-medium text-gray-900 bg-transparent border-t border-b border-gray-900 hover:bg-gray-900 hover:text-white focus:z-10 focus:ring-2 focus:ring-gray-500 focus:bg-gray-900 focus:text-white dark:border-white dark:text-white dark:hover:text-white dark:hover:bg-gray-700 dark:focus:bg-gray-700">
                            Table
                        </button>
                        <button type="button"
                                hx-post="{% url "reports_and_analytics:popup_employee_punctuality_report" %}"
                                hx-vals='{"selected_user": {{ selected_user.id }}, "from_date": "{{ from_date }}", "to_date": "{{ to_date }}", "option": "chart"}'
                                class="px-4 py-2 text-sm font-medium text-gray-900 bg-transparent border border-gray-900 rounded-e-lg hover:bg-gray-900 hover:text-white focus:z-10 focus:ring-2 focus:ring-gray-500 focus:bg-gray-900 focus:text-white dark:border-white dark:text-white dark:hover:text-white dark:hover:bg-gray-700 dark:focus:bg-gray-700">
                            Chart
                        </button>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
