{% extends "layout.html" %}
{% block title %}
    {{ selected_user.userdetails.get_user_fullname }} Salary Summary Report for Year {{ selected_year }}
{% endblock title %}
{% block content %}
    <div class="w-[65rem] mx-auto p-6">
        <div>
            <input type="hidden"
                   id="employee_yearly_salary_report_data"
                   value="{{ chart_option_data }}">
            <div class="w-full bg-white rounded-lg border shadow dark:bg-gray-800 p-3 md:p-4">
                <div class="flex justify-between border-gray-200 border-b dark:border-gray-700 pb-3">
                    <dl>
                        <dt class="text-xl font-normal text-gray-500 dark:text-gray-400 pb-1">
                            Name: <b>{{ selected_user.userdetails.get_user_fullname|title }}</b>
                        </dt>
                        <dt class="text-xl font-normal text-gray-500 dark:text-gray-400 pb-1">
                            Salary Summary for <b>Year {{ selected_year }}</b>
                        </dt>
                        <dd class="leading-none text-xl font-bold text-green-500 dark:text-green-400">
                            ₱{{ total_salary }}
                        </dd>
                    </dl>
                </div>
                {% if option == "all" or option == "table" %}
                    <div class="relative overflow-x-auto border-b-2">
                        <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                                <tr>
                                    <th scope="col" class="w-1/2 px-6 py-3 text-center">Month</th>
                                    <th scope="col" class="w-1/2 px-6 py-3 text-center">Salary Expense</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for data in employee_yearly_salary_expense_table_data %}
                                    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                                        <td class="px-6 py-4 text-center">{{ data.0 }}</td>
                                        <td class="px-6 py-4 text-center">{{ data.1 }}</td>
                                    </tr>
                                {% endfor %}
                                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                                    <td class="px-6 py-4 text-center">Total</td>
                                    <td class="px-6 py-4 text-center">{{ total_salary }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                {% endif %}
                {% if option == "all" or option == "chart" %}
                    <div id="bar-chart"></div>
                    <script>
                        var employeeYearlySalarySummaryReportChartOptions = () => {
                            const inputElement = document.getElementById('employee_yearly_salary_report_data');
                            const inputValue = inputElement.value;
                            let parsedArray = {};

                            if (inputValue) {
                                parsedArray = JSON.parse(inputValue);
                            }

                            const months = parsedArray.months;
                            const total_amount_list = parsedArray.total_amount_list;

                            return {
                                series: [{
                                    name: "Income",
                                    data: total_amount_list,
                                    color: "#31C48D",
                                }],
                                chart: {
                                    sparkline: {
                                        enabled: false,
                                    },
                                    type: "bar",
                                    width: "100%",
                                    height: 400,
                                    toolbar: {
                                        show: false,
                                    }
                                },
                                fill: {
                                    opacity: 1,
                                },
                                plotOptions: {
                                    bar: {
                                        horizontal: true,
                                        columnWidth: "100%",
                                        borderRadiusApplication: "end",
                                        borderRadius: 6,
                                        dataLabels: {
                                            position: "top",
                                        },
                                    },
                                },
                                legend: {
                                    show: true,
                                    position: "bottom",
                                },
                                dataLabels: {
                                    enabled: true,
                                    formatter: function(val) {
                                        return "₱" + val;
                                    },
                                    offsetX: -50,
                                },
                                tooltip: {
                                    enabled: false,
                                },
                                xaxis: {
                                    labels: {
                                        show: true,
                                        style: {
                                            fontFamily: "Inter, sans-serif",
                                            cssClass: 'text-xs font-normal fill-gray-500 dark:fill-gray-400'
                                        },
                                        formatter: function(value) {
                                            return "₱" + value
                                        }
                                    },
                                    categories: months,
                                    axisTicks: {
                                        show: false,
                                    },
                                    axisBorder: {
                                        show: false,
                                    },
                                },
                                yaxis: {
                                    labels: {
                                        show: true,
                                        style: {
                                            fontFamily: "Inter, sans-serif",
                                            cssClass: 'text-xs font-normal fill-gray-500 dark:fill-gray-400'
                                        }
                                    }
                                },
                                grid: {
                                    show: true,
                                    strokeDashArray: 4,
                                    padding: {
                                        left: 4,
                                        right: 2,
                                        top: -20
                                    },
                                },
                                fill: {
                                    opacity: 1,
                                }
                            }
                        }

                        if (document.getElementById("bar-chart") && typeof ApexCharts !== 'undefined') {
                            if (window.employeeYearlySalarySummaryReportChart) {
                                window.employeeYearlySalarySummaryReportChart.destroy();
                            }
                            window.employeeYearlySalarySummaryReportChart = new ApexCharts(document.getElementById("bar-chart"), employeeYearlySalarySummaryReportChartOptions());
                            window.employeeYearlySalarySummaryReportChart.render();
                        }
                    </script>
                {% endif %}
            </div>
            <div class="w-full flex flex-col items-center justify-center mt-2 gap-2">
                {% if not hide_print_download_button and not for_print_download %}
                    <p class="text-xl text-gray-900 whitespace-nowrap dark:text-white">Print/Download</p>
                    <div class="inline-flex rounded-md shadow-sm" role="group">
                        <button type="button"
                                hx-post="{% url "reports_and_analytics:popup_employee_yearly_salary_summary_report" %}"
                                hx-vals='{"selected_year": {{ selected_year }}, "selected_user": {{ selected_user.id }}, "option": "all"}'
                                class="px-4 py-2 text-sm font-medium text-gray-900 bg-transparent border border-gray-900 rounded-s-lg hover:bg-gray-900 hover:text-white focus:z-10 focus:ring-2 focus:ring-gray-500 focus:bg-gray-900 focus:text-white dark:border-white dark:text-white dark:hover:text-white dark:hover:bg-gray-700 dark:focus:bg-gray-700">
                            All
                        </button>
                        <button type="button"
                                hx-post="{% url "reports_and_analytics:popup_employee_yearly_salary_summary_report" %}"
                                hx-vals='{"selected_year": {{ selected_year }}, "selected_user": {{ selected_user.id }}, "option": "table"}'
                                class="px-4 py-2 text-sm font-medium text-gray-900 bg-transparent border-t border-b border-gray-900 hover:bg-gray-900 hover:text-white focus:z-10 focus:ring-2 focus:ring-gray-500 focus:bg-gray-900 focus:text-white dark:border-white dark:text-white dark:hover:text-white dark:hover:bg-gray-700 dark:focus:bg-gray-700">
                            Table
                        </button>
                        <button type="button"
                                hx-post="{% url "reports_and_analytics:popup_employee_yearly_salary_summary_report" %}"
                                hx-vals='{"selected_year": {{ selected_year }}, "selected_user": {{ selected_user.id }}, "option": "chart"}'
                                class="px-4 py-2 text-sm font-medium text-gray-900 bg-transparent border border-gray-900 rounded-e-lg hover:bg-gray-900 hover:text-white focus:z-10 focus:ring-2 focus:ring-gray-500 focus:bg-gray-900 focus:text-white dark:border-white dark:text-white dark:hover:text-white dark:hover:bg-gray-700 dark:focus:bg-gray-700">
                            Chart
                        </button>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
