{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>
            {% block title %}{% endblock %}
        </title>
        <link href="{% static "assets/css/flowbite.min.css" %}" rel="stylesheet" />
        <link href="{% static "assets/css/global.css" %}" rel="stylesheet" />
        {% tailwind_css %}
        <script src="{% static 'assets/js/apexcharts.js' %}"></script>
        <link rel="stylesheet" href="{% static "assets/css/pdf_viewer.min.css" %}" />
        <script src="{% static 'assets/js/pdf.min.js' %}"></script>
        <script src="{% static 'assets/js/pdf_viewer.min.js' %}"></script>
    </head>
    <body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
          class="bg-gray-50 dark:bg-gray-800">
        {% block content %}{% endblock %}
        <div id="global_alert_container"
             class="fixed top-20 right-4 flex flex-col items-end max-w-lg z-50"></div>
        <div id="chat_container"></div>
        <script src="{% static 'assets/js/flowbite.min.js' %}"></script>
        <script src="{% static 'assets/js/dark-mode.js' %}"></script>
        <script src="{% static 'assets/js/htmx.min.js' %}"></script>
        <script src="{% static 'assets/js/jquery-3.7.1.min.js' %}"></script>
        <script src="{% static 'assets/js/general-modal-modifier.js' %}"></script>
        <script src="{% static 'assets/js/main.js' %}"></script>
        {% block javascript %}
        {% endblock javascript %}
        <script>
            document.body.addEventListener("initializeGlobalAlert", (event) => {
                const {
                    message,
                    type,
                    duration
                } = event.detail;

                const safeDetail = {
                    message,
                    type,
                    duration,
                };

                htmx.ajax("GET", '{% url "show_alert" %}', {
                    values: {
                        details: JSON.stringify(safeDetail),
                    },
                });
            });

            document.body.addEventListener("showGlobalAlert", (event) => {
                const alertId = event?.detail?.alertId
                const alertCloseId = event?.detail?.alertCloseId
                const alertDuration = event?.detail?.alertDuration


                const $targetAlert = document.getElementById(alertId);
                const $targetCloseTrigger = document.getElementById(alertCloseId);

                const options = {
                    transition: 'transition-opacity',
                    duration: 1000,
                    timing: 'ease-out',
                };

                const instanceOptions = {
                    id: alertId,
                    override: true
                };

                const dismiss = new Dismiss($targetAlert, $targetCloseTrigger, options, instanceOptions);
                setTimeout(() => {
                    dismiss.hide();
                }, alertDuration * 1000);
            });
        </script>
        <script>
            document.body.addEventListener("toggleChatWindow", (event) => {
                var dropdown = document.getElementById("userMenuDropdown");
                if (dropdown) {
                    dropdown.classList.toggle("hidden");
                }
            });
        </script>
        <script>
            (function() {
                const $targetEl = document.getElementById('moduleDropdownMenu');
                const $triggerEl = document.getElementById('moduleDropdownButton');


                const options = {
                    placement: 'bottom',
                    triggerType: 'click',
                    offsetSkidding: 0,
                    offsetDistance: 10,
                    delay: 300,
                    ignoreClickOutsideClass: false,
                };

                const instanceOptions = {
                    id: 'moduleDropdownMenu',
                    override: true
                };

                const appMenuDropdown = new Dropdown($targetEl, $triggerEl, options, instanceOptions);
            })();
        </script>
        <script>
            (function() {
                const $targetEl = document.getElementById('userNotification');
                const $triggerEl = document.getElementById('userNotificationButton');

                const retrieveNotification = () => {
                    htmx.ajax('POST', '{% url "core:retrieve_notifications" %}');
                };

                const options = {
                    placement: 'bottom',
                    triggerType: 'click',
                    offsetSkidding: 0,
                    offsetDistance: 10,
                    delay: 300,
                    ignoreClickOutsideClass: false,
                    onShow: () => {
                        retrieveNotification();
                    },
                };

                const instanceOptions = {
                    id: 'userNotification',
                    override: true
                };

                const dropdown = new Dropdown($targetEl, $triggerEl, options, instanceOptions);
            })();
        </script>
    </body>
</html>
