{% load static %}
<!-- Notification Dropdown Menu -->
<div id="userNotification"
     class="z-50 hidden w-full max-w-sm bg-white divide-y divide-gray-100 rounded-lg shadow dark:bg-gray-800 dark:divide-gray-700">
    <div class="block px-4 py-2 font-medium text-center text-gray-700 rounded-t-lg bg-gray-50 dark:bg-gray-800 dark:text-white">
        Notifications
    </div>
    {% block userNotificationList %}
        <div id="userNotificationList"
             class="divide-y divide-gray-100 dark:divide-gray-700 {% if notifications.count > 4 %}h-[25rem] overflow-y-auto{% else %}h-auto{% endif %}">
            {% for notification in notifications %}
                <button hx-post="{% url "core:open_notification" %}"
                        hx-vals='{"notification": {{ notification.id }}}'
                        class="w-full flex flex-row items-center justify-between px-4 py-3 hover:bg-gray-100 dark:hover:bg-gray-700 text-start">
                    <div class="flex flex-row me-1">
                        <div class="relative flex-shrink-0">
                            <img class="rounded-full w-11 h-11"
                                 src="{% if notification.sender.userdetails.profile_picture %}{{ notification.sender.userdetails.profile_picture.url }}{% else %}{% static "assets\imgs\user-profile-icon.jpg" %}{% endif %}"
                                 alt="user_{{ notification.sender }}_alt_pic">
                            <div class="absolute flex items-center justify-center w-5 h-5 ms-6 -mt-5 bg-blue-600 border border-white rounded-full dark:border-gray-800">
                                <svg class="w-2 h-2 text-white"
                                     aria-hidden="true"
                                     xmlns="http://www.w3.org/2000/svg"
                                     fill="currentColor"
                                     viewBox="0 0 18 18">
                                    <path d="M1 18h16a1 1 0 0 0 1-1v-6h-4.439a.99.99 0 0 0-.908.6 3.978 3.978 0 0 1-7.306 0 .99.99 0 0 0-.908-.6H0v6a1 1 0 0 0 1 1Z" />
                                    <path d="M4.439 9a2.99 2.99 0 0 1 2.742 1.8 1.977 1.977 0 0 0 3.638 0A2.99 2.99 0 0 1 13.561 9H17.8L15.977.783A1 1 0 0 0 15 0H3a1 1 0 0 0-.977.783L.2 9h4.239Z" />
                                </svg>
                            </div>
                        </div>
                        <div class="w-full ps-3">
                            <div class="text-gray-500 text-sm mb-1.5 dark:text-gray-400">{{ notification.content|safe }}</div>
                            <div class="text-xs text-blue-600 dark:text-blue-500">{{ notification.created|timesince }}</div>
                        </div>
                    </div>
                    {% if not notification.read %}
                        <div>
                            <span class="flex w-2 h-2 bg-blue-600 rounded-full"></span>
                        </div>
                    {% endif %}
                </button>
            {% empty %}
                <div class="w-full text-center my-5">
                    <h6 class="text-lg font-bold dark:text-white">No new notifications</h6>
                </div>
            {% endfor %}
        </div>
    {% endblock %}
</div>
