{% extends "layout.html" %}
{% block title %}Shared Resources Section{% endblock %}
{% load static %}
{% block content %}
    {% include "navbar.html" %}
    <div class="flex flex-col items-center px-4 2xl:px-0 pt-6 xl:gap-4 dark:bg-gray-900">
        <div class="w-full relative px-2 lg:px-10">
            <h1 class="text-xl font-semibold text-gray-900 sm:text-2xl dark:text-white py-3 mt-10">Shared Resources Section</h1>
            {% block shared_resources_section %}
                <div id="shared_resources_section"
                     class="w-full min-h-[45rem] flex flex-col gap-6 p-4 mb-10 bg-white border border-gray-200 rounded-lg shadow-sm 2xl:col-span-2 dark:border-gray-700 sm:p-6 dark:bg-gray-800">
                    <div class="w-full flex flex-col gap-5">
                        <div class="w-full flex flex-col-reverse md:flex-row gap-5">
                            <div class="w-auto md:w-[50rem] p-3 border border-gray-100 rounded-lg bg-gray-50 dark:bg-gray-800 dark:border-gray-700 flex flex-col justify-center">
                                <form class="w-full max-w-md mx-auto flex flex-col gap-2">
                                    <div class="">
                                        <label for="selected_user"
                                               class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                                            Selected User
                                        </label>
                                        <select id="selected_user"
                                                name="selected_user"
                                                hx-post="{% url "performance:shared_resources" %}"
                                                hx-trigger="change"
                                                class="block py-2.5 px-0 w-full text-sm text-gray-500 bg-transparent border-0 border-b-2 border-gray-200 appearance-none dark:text-gray-400 dark:border-gray-700 focus:outline-none focus:ring-0 focus:border-gray-200 peer">
                                            <option value="">Choose a user</option>
                                            {% for user in user_choices %}
                                                <option value="{{ user.id }}"
                                                        {% if selected_user == user.id %}selected{% endif %}>
                                                    {{ user.userdetails.get_user_fullname|title }}
                                                </option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="relative">
                                        <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                                            <svg class="w-4 h-4 text-gray-500 dark:text-gray-400"
                                                 aria-hidden="true"
                                                 xmlns="http://www.w3.org/2000/svg"
                                                 fill="none"
                                                 viewBox="0 0 20 20">
                                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
                                            </svg>
                                        </div>
                                        <input type="search"
                                               id="resource_search"
                                               class="block w-full p-4 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                               placeholder="Search file..."
                                               name="resource_search"
                                               hx-post="{% url "performance:shared_resources" %}"
                                               hx-trigger="input changed delay:350ms"
                                               value="{{ resource_search }}"
                                               required />
                                    </div>
                                </form>
                            </div>
                            <div class="w-full p-3 border border-gray-100 rounded-lg bg-gray-50 dark:bg-gray-800 dark:border-gray-700">
                                <form hx-post="{% url "performance:upload_resources" %}"
                                      hx-encoding='multipart/form-data'
                                      class="w-full">
                                    <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                                           for="file_input">Upload file/s</label>
                                    <input id="file_input"
                                           name="uploaded_resources"
                                           class="block w-full text-sm lg:text-lg text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"
                                           type="file"
                                           accept=".pdf,.doc,.docx,.xlsx,.xlsx,.ppt,.pptx,.jpg,.jpeg,.png,.mp4"
                                           multiple
                                           required>
                                    <p class="mt-1 text-sm text-gray-500 dark:text-gray-300">Document And Media File Type Only</p>
                                    {% block file_upload_error_section %}
                                        <p id="file_upload_error_section"
                                           class="text-base text-red-600 dark:text-red-400">
                                            {% for error in file_upload_errors %}<strong>{{ error }}</strong>{% endfor %}
                                        </p>
                                    {% endblock %}
                                    <button type="submit"
                                            hx-indicator="#file_upload_indicator"
                                            class="mt-3 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center me-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                                        <svg class="w-3.5 h-3.5 me-1"
                                             aria-hidden="true"
                                             xmlns="http://www.w3.org/2000/svg"
                                             fill="currentColor"
                                             viewBox="0 0 24 24">
                                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 5v9m-5 0H5a1 1 0 0 0-1 1v4a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1v-4a1 1 0 0 0-1-1h-2M8 9l4-5 4 5m1 8h.01" />
                                        </svg>
                                        Upload
                                    </button>
                                </form>
                            </div>
                        </div>
                        {% block file_list_content %}
                            <div id="file_list_content" class="flex flex-row gap-2">
                                <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-6 2xl:grid-cols-9 gap-5 w-full h-[20rem] md:h-[30rem] overflow-y-auto p-3 border border-gray-100 rounded-lg bg-gray-50 dark:bg-gray-800 dark:border-gray-700">
                                    {% for file in shared_files %}
                                        <div>
                                            <div class="w-full max-w-[15rem] h-auto pb-4 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                                                <div class="flex justify-end px-4 pt-4">
                                                    <button id="resource_dropdown-{{ file.id }}"
                                                            data-dropdown-toggle="dropdown-{{ file.id }}"
                                                            class="inline-block text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:ring-4 focus:outline-none focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-1.5"
                                                            type="button">
                                                        <svg class="w-5 h-5"
                                                             aria-hidden="true"
                                                             xmlns="http://www.w3.org/2000/svg"
                                                             fill="currentColor"
                                                             viewBox="0 0 16 3">
                                                            <path d="M2 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Zm6.041 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM14 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Z" />
                                                        </svg>
                                                    </button>
                                                    <!-- Dropdown menu -->
                                                    <div id="dropdown-{{ file.id }}"
                                                         class="z-10 hidden text-base list-none bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
                                                        <ul class="py-2">
                                                            <li>
                                                                {% if file.is_resource_media or file.is_resource_pdf or file.resource_pdf %}
                                                                    <button type="button"
                                                                            hx-post="{% url "performance:preview_resource" file.id %}"
                                                                            class="block w-full px-4 py-2 text-start text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">
                                                                        View
                                                                    </button>
                                                                {% endif %}
                                                            </li>
                                                            {% if current_user == file.uploader %}
                                                                <li>
                                                                    <button type="submit"
                                                                            hx-post="{% url "performance:resource_share_access" file.id %}"
                                                                            class="block w-full px-4 py-2 text-start text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">
                                                                        Share
                                                                    </button>
                                                                </li>
                                                            {% endif %}
                                                            {% if current_user == file.uploader %}
                                                                <li>
                                                                    <button type="submit"
                                                                            hx-post="{% url "performance:delete_resource" file.id %}"
                                                                            class="block w-full px-4 py-2 text-start text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">
                                                                        Delete
                                                                    </button>
                                                                </li>
                                                            {% endif %}
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="w-full flex justify-center">
                                                    {% if file.is_resource_pdf %}
                                                        <svg class="w-20 h-20 text-gray-800 dark:text-white"
                                                             aria-hidden="true"
                                                             xmlns="http://www.w3.org/2000/svg"
                                                             width="24"
                                                             height="24"
                                                             fill="none"
                                                             viewBox="0 0 24 24">
                                                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 17v-5h1.5a1.5 1.5 0 1 1 0 3H5m12 2v-5h2m-2 3h2M5 10V7.914a1 1 0 0 1 .293-.707l3.914-3.914A1 1 0 0 1 9.914 3H18a1 1 0 0 1 1 1v6M5 19v1a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-1M10 3v4a1 1 0 0 1-1 1H5m6 4v5h1.375A1.627 1.627 0 0 0 14 15.375v-1.75A1.627 1.627 0 0 0 12.375 12H11Z" />
                                                        </svg>
                                                    {% elif file.is_resource_word %}
                                                        <svg class="w-20 h-20 text-gray-800 dark:text-white"
                                                             aria-hidden="true"
                                                             xmlns="http://www.w3.org/2000/svg"
                                                             width="24"
                                                             height="24"
                                                             fill="none"
                                                             viewBox="0 0 24 24">
                                                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 3v4a1 1 0 0 1-1 1H5m4 4 1 5 2-3.333L14 17l1-5m4-8v16a1 1 0 0 1-1 1H6a1 1 0 0 1-1-1V7.914a1 1 0 0 1 .293-.707l3.914-3.914A1 1 0 0 1 9.914 3H18a1 1 0 0 1 1 1Z" />
                                                        </svg>
                                                    {% elif file.is_resource_excel %}
                                                        <svg class="w-20 h-20 text-gray-800 dark:text-white"
                                                             aria-hidden="true"
                                                             xmlns="http://www.w3.org/2000/svg"
                                                             width="24"
                                                             height="24"
                                                             fill="none"
                                                             viewBox="0 0 24 24">
                                                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 3v4a1 1 0 0 1-1 1H5m8-2h3m-3 3h3m-4 3v6m4-3H8M19 4v16a1 1 0 0 1-1 1H6a1 1 0 0 1-1-1V7.914a1 1 0 0 1 .293-.707l3.914-3.914A1 1 0 0 1 9.914 3H18a1 1 0 0 1 1 1ZM8 12v6h8v-6H8Z" />
                                                        </svg>
                                                    {% elif file.is_resource_powerpoint %}
                                                        <svg class="w-20 h-20 text-gray-800 dark:text-white"
                                                             aria-hidden="true"
                                                             xmlns="http://www.w3.org/2000/svg"
                                                             width="24"
                                                             height="24"
                                                             fill="none"
                                                             viewBox="0 0 24 24">
                                                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 17v-5h1.5a1.5 1.5 0 1 1 0 3H5m6 2v-5h1.5a1.5 1.5 0 1 1 0 3H11m7-3v5m-1-5h2M5 10V7.914a1 1 0 0 1 .293-.707l3.914-3.914A1 1 0 0 1 9.914 3H18a1 1 0 0 1 1 1v6M5 19v1a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-1M10 3v4a1 1 0 0 1-1 1H5" />
                                                        </svg>
                                                    {% elif file.is_resource_video %}
                                                        <svg class="w-20 h-20 text-gray-800 dark:text-white"
                                                             aria-hidden="true"
                                                             xmlns="http://www.w3.org/2000/svg"
                                                             width="24"
                                                             height="24"
                                                             fill="none"
                                                             viewBox="0 0 24 24">
                                                            <path stroke="currentColor" stroke-linejoin="round" stroke-width="2" d="M10 3v4a1 1 0 0 1-1 1H5m14-4v16a1 1 0 0 1-1 1H6a1 1 0 0 1-1-1V7.914a1 1 0 0 1 .293-.707l3.914-3.914A1 1 0 0 1 9.914 3H18a1 1 0 0 1 1 1ZM9 12h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H9a1 1 0 0 1-1-1v-2a1 1 0 0 1 1-1Zm5.697 2.395v-.733l1.269-1.219v2.984l-1.268-1.032Z" />
                                                        </svg>
                                                    {% elif file.is_resource_image %}
                                                        <svg class="w-20 h-20 text-gray-800 dark:text-white"
                                                             aria-hidden="true"
                                                             xmlns="http://www.w3.org/2000/svg"
                                                             width="24"
                                                             height="24"
                                                             fill="none"
                                                             viewBox="0 0 24 24">
                                                            <path fill="currentColor" d="M16 18H8l2.5-6 2 4 1.5-2 2 4Zm-1-8.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0Z" />
                                                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 3v4a1 1 0 0 1-1 1H5m14-4v16a1 1 0 0 1-1 1H6a1 1 0 0 1-1-1V7.914a1 1 0 0 1 .293-.707l3.914-3.914A1 1 0 0 1 9.914 3H18a1 1 0 0 1 1 1ZM8 18h8l-2-4-1.5 2-2-4L8 18Zm7-8.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0Z" />
                                                        </svg>
                                                    {% else %}
                                                        <svg class="w-20 h-20 text-gray-800 dark:text-white"
                                                             aria-hidden="true"
                                                             xmlns="http://www.w3.org/2000/svg"
                                                             width="24"
                                                             height="24"
                                                             fill="none"
                                                             viewBox="0 0 24 24">
                                                            <path stroke="currentColor" stroke-linejoin="round" stroke-width="2" d="M10 3v4a1 1 0 0 1-1 1H5m14-4v16a1 1 0 0 1-1 1H6a1 1 0 0 1-1-1V7.914a1 1 0 0 1 .293-.707l3.914-3.914A1 1 0 0 1 9.914 3H18a1 1 0 0 1 1 1Z" />
                                                        </svg>
                                                    {% endif %}
                                                </div>
                                                <div class="flex flex-col px-4 group text-center">
                                                    <h5 class="text-base md:text-xl font-medium text-gray-900 dark:text-white group-hover:hidden truncate">
                                                        {{ file.resource_name }}
                                                    </h5>
                                                    <h5 class="text-base md:text-xl text-gray-900 dark:text-white hidden group-hover:block">{{ file.resource_name }}</h5>
                                                    <p class="text-base font-normal text-gray-900 dark:text-white">Uploaded by: {{ file.uploader.first_name }}</p>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endblock %}
                    </div>
                </div>
            </div>
        {% endblock %}
        <div id="delete_confirmation_modal"
             tabindex="-1"
             class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
            {% block delete_confirmation_modal_content %}
                <div id="delete_confirmation_modal_content"
                     class="relative p-4 w-full max-w-md max-h-full">
                    {% if resource_to_delete %}
                        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                            <button type="button"
                                    class="absolute top-3 end-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
                                    hx-post="{% url "performance:performance_module_close_modals" %}"
                                    hx-vals='{"event_name": "closeDeleteConfirmationModal"}'>
                                <svg class="w-3 h-3"
                                     aria-hidden="true"
                                     xmlns="http://www.w3.org/2000/svg"
                                     fill="none"
                                     viewBox="0 0 14 14">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
                                </svg>
                            </button>
                            <div class="p-4 md:p-5 text-center">
                                <svg class="mx-auto mb-4 text-gray-400 w-12 h-12 dark:text-gray-200"
                                     aria-hidden="true"
                                     xmlns="http://www.w3.org/2000/svg"
                                     fill="none"
                                     viewBox="0 0 20 20">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 11V6m0 8h.01M19 10a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                                </svg>
                                <h3 class="mb-5 text-lg font-normal text-gray-500 dark:text-gray-400">
                                    Are you sure you want to delete <strong>{{ resource_to_delete.resource_name }}{{ resource_to_delete.get_file_extension }}</strong>?
                                </h3>
                                <button hx-delete="{% url "performance:delete_resource" resource_to_delete.id %}"
                                        type="button"
                                        class="text-white bg-red-600 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center">
                                    Delete
                                </button>
                                <button hx-post="{% url "performance:performance_module_close_modals" %}"
                                        hx-vals='{"event_name": "closeDeleteConfirmationModal"}'
                                        type="button"
                                        class="py-2.5 px-5 ms-3 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">
                                    Cancel
                                </button>
                            </div>
                        </div>
                    {% endif %}
                </div>
            {% endblock %}
        </div>
        <div id="preview_file_modal"
             tabindex="-1"
             class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
            {% block preview_file_modal_content %}
                <div id="preview_file_modal_content"
                     class="relative p-4 w-full max-w-6xl max-h-full">
                    {% if resource_to_preview %}
                        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                            <button type="button"
                                    class="absolute top-3 end-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
                                    hx-post="{% url "performance:performance_module_close_modals" %}"
                                    hx-vals='{"event_name": "closePreviewFileModal"}'>
                                <svg class="w-3 h-3"
                                     aria-hidden="true"
                                     xmlns="http://www.w3.org/2000/svg"
                                     fill="none"
                                     viewBox="0 0 14 14">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
                                </svg>
                            </button>
                            <div class="p-4 md:p-10 text-center w-full">
                                {% if not user_has_access %}
                                    <h2 class="text-2xl font-extrabold dark:text-white">File is confidential. {{ request }}</h2>
                                    <p class="text-lg font-normal text-gray-500 lg:text-xl dark:text-gray-400">Contact the HR to request for access.</p>
                                {% else %}
                                    {% if resource_to_preview.is_resource_media %}
                                        {% if resource_to_preview.is_resource_video %}
                                            <video controls>
                                                <source src="{{ resource_to_preview.resource.url }}">
                                            </video>
                                        {% elif resource_to_preview.is_resource_image %}
                                            <div class="w-full h-full flex items-center justify-center min-h-80 md:min-h-[30rem]">
                                                <img src="{{ resource_to_preview.resource.url }}" alt="Image Preview">
                                            </div>
                                        {% endif %}
                                    {% else %}
                                        <input id="resource_to_preview_url"
                                               type="hidden"
                                               value="{{ resource_to_preview.get_resource_url_for_preview }}">
                                        <div id="pdf-container"
                                             class="w-full h-[45rem] p-4 overflow-y-auto bg-white shadow-lg"></div>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>
                    {% endif %}
                </div>
            {% endblock %}
        </div>
        <div id="file_access_sharing_modal"
             tabindex="-1"
             class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
            {% block file_access_sharing_modal_content %}
                <div id="file_access_sharing_modal_content"
                     class="relative p-4 w-full max-w-7xl max-h-full">
                    {% if resource_to_share %}
                        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                            <button type="button"
                                    class="absolute top-3 end-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
                                    hx-post="{% url "performance:performance_module_close_modals" %}"
                                    hx-vals='{"event_name": "closeShareAccessModal"}'>
                                <svg class="w-3 h-3"
                                     aria-hidden="true"
                                     xmlns="http://www.w3.org/2000/svg"
                                     fill="none"
                                     viewBox="0 0 14 14">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
                                </svg>
                            </button>
                            <div class="p-4 md:p-10 text-center w-full">
                                <div class="block w-full p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
                                        {{ resource_to_share.resource_name }}
                                    </h5>
                                    <div class="w-full flex flex-row gap-2">
                                        <div class="flex flex-col w-full">
                                            <div class="my-2">
                                                <h2 class="text-xl font-extrabold dark:text-white">Available Users</h2>
                                            </div>
                                            <div class="z-10 block w-full p-6 bg-white border border-gray-200 rounded-lg dark:bg-gray-800 dark:border-gray-700">
                                                {% if user_choices %}
                                                    <div class="p-3">
                                                        <div class="relative">
                                                            <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                                                                <svg class="w-4 h-4 text-gray-500 dark:text-gray-400"
                                                                     aria-hidden="true"
                                                                     xmlns="http://www.w3.org/2000/svg"
                                                                     fill="none"
                                                                     viewBox="0 0 20 20">
                                                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
                                                                </svg>
                                                            </div>
                                                            <input type="text"
                                                                   id="input-group-search"
                                                                   class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5  dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                                                   placeholder="Search user">
                                                        </div>
                                                    </div>
                                                {% else %}
                                                    <div class="p-3">
                                                        <h2 class="text-xl font-extrabold dark:text-white">User List Empty</h2>
                                                    </div>
                                                {% endif %}
                                                <ul class="h-[25rem] px-3 pb-3 overflow-y-auto text-sm text-gray-700 dark:text-gray-200">
                                                    {% for user in user_choices %}
                                                        <li>
                                                            <div class="flex items-center p-2 rounded hover:bg-gray-100 dark:hover:bg-gray-600">
                                                                <input id="user-checkbox-item-{{ user.id }}"
                                                                       name="selected_user"
                                                                       type="checkbox"
                                                                       value="{{ user.id }}"
                                                                       hx-trigger="input"
                                                                       hx-post="{% url "performance:resource_modify_users_with_share_access" resource_to_share.id %}"
                                                                       class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                                                                <label for="user-checkbox-item-{{ user.id }}"
                                                                       class="w-full ms-2 text-sm text-start font-medium text-gray-900 rounded dark:text-gray-300">
                                                                    {{ user.userdetails.get_user_fullname|title }}
                                                                    <br>
                                                                    ({% if not user.userdetails.is_employee %}{{ user.userdetails.get_user_full_user_role }} -{% endif %}
                                                                    {{ user.userdetails.department }})
                                                                </label>
                                                            </div>
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="flex flex-col w-full">
                                            <div class="my-2">
                                                <h2 class="text-xl font-extrabold dark:text-white">Shared With</h2>
                                            </div>
                                            <div class="z-10 block w-full p-6 bg-white border border-gray-200 rounded-lg dark:bg-gray-800 dark:border-gray-700">
                                                {% if not selected_users %}
                                                    <div class="p-3">
                                                        <h2 class="text-xl font-extrabold dark:text-white">User List Empty</h2>
                                                    </div>
                                                {% endif %}
                                                <ul class="h-[25rem] px-3 pb-3 overflow-y-auto text-sm text-gray-700 dark:text-gray-200">
                                                    {% for user in selected_users %}
                                                        <li>
                                                            <div class="flex items-center p-2 rounded hover:bg-gray-100 dark:hover:bg-gray-600">
                                                                <input id="user-selected-checkbox-item-{{ user.id }}"
                                                                       name="selected_user_to_remove"
                                                                       type="checkbox"
                                                                       value="{{ user.id }}"
                                                                       checked
                                                                       hx-trigger="input"
                                                                       hx-post="{% url "performance:resource_modify_users_with_share_access" resource_to_share.id %}"
                                                                       hx-vals='{"selected_user_to_remove": "{{ user.id }}"}'
                                                                       class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                                                                <label for="user-selected-checkbox-item-{{ user.id }}"
                                                                       class="w-full ms-2 text-sm text-start font-medium text-gray-900 rounded dark:text-gray-300">
                                                                    {{ user.userdetails.get_user_fullname|title }}
                                                                    <br>
                                                                    ({% if not user.userdetails.is_employee %}{{ user.userdetails.get_user_full_user_role }} -{% endif %}
                                                                    {{ user.userdetails.department }})
                                                                </label>
                                                            </div>
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            {% endblock %}
        </div>
        {% include "performance/components/sections_menu.html" %}
    </div>
</div>
{% endblock %}
{% block javascript %}
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            // Function to perform HTMX AJAX request
            const updateFileListAfterUpdate = () => {
                const selectedUser = document.getElementById('selected_user').value;
                const resource_search = document.getElementById('resource_search').value;

                htmx.ajax('POST', '{% url "performance:resource_update_file_list_after_modifying_share_access" %}', {
                    values: {
                        "selected_user_id": selectedUser,
                        "resource_search": resource_search
                    }
                });
            };

            // Function to initialize PDF viewer
            const initializePdfViewer = async () => {
                const pdfUrl = document.getElementById('resource_to_preview_url').value;
                pdfjsLib.GlobalWorkerOptions.workerSrc = "{% static 'assets/js/pdf.worker.min.js' %}";

                try {
                    const pdf = await pdfjsLib.getDocument(pdfUrl).promise;
                    const viewer = document.getElementById('pdf-container');
                    const fixedWidth = 800;
                    const fixedHeight = 1280;

                    for (let pageNum = 1; pageNum <= pdf.numPages; pageNum++) {
                        const page = await pdf.getPage(pageNum);
                        const viewport = page.getViewport({
                            scale: 1.0
                        });
                        const scale = Math.min(fixedWidth / viewport.width, fixedHeight / viewport.height);
                        const scaledViewport = page.getViewport({
                            scale
                        });

                        const canvas = document.createElement('canvas');
                        canvas.className = 'pdf-page';
                        viewer.appendChild(canvas);
                        const context = canvas.getContext('2d');
                        canvas.width = scaledViewport.width;
                        canvas.height = scaledViewport.height;

                        const renderContext = {
                            canvasContext: context,
                            viewport: scaledViewport
                        };
                        await page.render(renderContext).promise;
                    }
                } catch (error) {
                    console.error('Error loading PDF:', error);
                }
            };

            // Initialize dropdowns
            const initializeDropdowns = () => {
                document.querySelectorAll('[data-dropdown-toggle]').forEach(trigger => {
                    const dropdownId = trigger.getAttribute('data-dropdown-toggle');
                    const $targetEl = document.getElementById(dropdownId);
                    const $triggerEl = trigger;

                    if ($targetEl && $triggerEl) {
                        const options = {
                            placement: 'bottom',
                            triggerType: 'click',
                            offsetSkidding: 0,
                            offsetDistance: 10,
                            delay: 300,
                            ignoreClickOutsideClass: false,
                        };

                        const dropdown = new Dropdown($targetEl, $triggerEl, options);
                        dropdown.hide();
                    }
                });
            };

            // Event listeners
            document.addEventListener('updateFileListAfterUpdate', updateFileListAfterUpdate);

            document.addEventListener('initializeShareAccessModal', () => initializeModal('file_access_sharing_modal'));
            document.addEventListener('closeShareAccessModal', () => closeModal('file_access_sharing_modal'));

            document.addEventListener('initializeDocumentPreview', () => {
                initializeModal('preview_file_modal');
                initializePdfViewer();
            });
            document.addEventListener('initializeMediaPreview', () => initializeModal('preview_file_modal'));
            document.addEventListener('closePreviewFileModal', () => closeModal('preview_file_modal'));

            document.addEventListener('initializeDeleteConfirmationModal', () => initializeModal('delete_confirmation_modal'));
            document.addEventListener('closeDeleteConfirmationModal', () => closeModal('delete_confirmation_modal'));

            document.addEventListener('htmx:afterSwap', initializeDropdowns);
        });
    </script>
{% endblock %}
