{% extends "layout.html" %}
{% block content %}
    {% include "navbar.html" %}
    <div class="flex flex-col items-center px-4 2xl:px-0 pt-6 xl:gap-4 dark:bg-gray-900">
        <div class="w-full">
            <h1 class="text-xl font-semibold text-gray-900 sm:text-2xl dark:text-white py-3 mt-10">Shift Management</h1>
            {% block shift_management_content %}
                <div id="shift_management_content"
                     class="flex flex-col gap-6 p-4 mb-4 bg-white border border-gray-200 rounded-lg shadow-sm 2xl:col-span-2 dark:border-gray-700 sm:p-6 dark:bg-gray-800">
                    <div class="sm:flex">
                        <div class="items-start mb-3 flex flex-col sm:flex-row gap-5 sm:gap-2">
                            <form class="max-w-sm">
                                <label for="shift_department"
                                       class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                                    Department
                                </label>
                                <select id="shift_department"
                                        name="shift_department"
                                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                        hx-post="{% url "attendance:shift_management" %}"
                                        hx-trigger="change"
                                        hx-include="[name='shift_year'], [name='shift_month']">
                                    {% for department in list_of_departments %}
                                        <option value="{{ department.id }}"
                                                {% if selected_department.id == department.id %}selected{% endif %}>
                                            {{ department.name }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </form>
                            <div class="flex flex-row gap-5 sm:gap-2 max-w-sm">
                                <div class="max-w-sm">
                                    <label for="shift_year"
                                           class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                                        Year
                                    </label>
                                    <input id="shift_year"
                                           name="shift_year"
                                           type="number"
                                           class="w-20 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                           min="2024"
                                           hx-post="{% url "attendance:shift_management" %}"
                                           value="{{ selected_year }}"
                                           hx-trigger="input changed delay:200ms"
                                           hx-include="[name='shift_department'], [name='shift_month']">
                                </div>
                                <div class="max-w-sm">
                                    <label for="shift_month"
                                           class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                                        Month
                                    </label>
                                    <select id="shift_month"
                                            name="shift_month"
                                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                            hx-post="{% url "attendance:shift_management" %}"
                                            hx-trigger="change"
                                            hx-include="[name='shift_department'], [name='shift_year']">
                                        {% for month in list_of_months %}
                                            <option value="{{ month.1 }}"
                                                    {% if selected_month == month.1 %}selected{% endif %}>
                                                {{ month.0 }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% block shift_calendar %}
                        <div id="shift_calendar" class="overflow-x-auto">
                            <div class="inline-block min-w-full align-middle">
                                <div class="overflow-hidden shadow grid md:grid-cols-7 gap-2">
                                    <div class="hidden md:block max-w-sm text-center bg-white border-b-2 border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                                        <h5 class="mb-2 text-lg lg:text-2xl font-bold text-gray-900 dark:text-white">Sunday</h5>
                                    </div>
                                    <div class="hidden md:block max-w-sm text-center bg-white border-b-2 border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                                        <h5 class="mb-2 text-lg lg:text-2xl font-bold text-gray-900 dark:text-white">Monday</h5>
                                    </div>
                                    <div class="hidden md:block max-w-sm text-center bg-white border-b-2 border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                                        <h5 class="mb-2 text-lg lg:text-2xl font-bold text-gray-900 dark:text-white">Tuesday</h5>
                                    </div>
                                    <div class="hidden md:block max-w-sm text-center bg-white border-b-2 border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                                        <h5 class="mb-2 text-lg lg:text-2xl font-bold text-gray-900 dark:text-white">Wednesday</h5>
                                    </div>
                                    <div class="hidden md:block max-w-sm text-center bg-white border-b-2 border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                                        <h5 class="mb-2 text-lg lg:text-2xl font-bold text-gray-900 dark:text-white">Thursday</h5>
                                    </div>
                                    <div class="hidden md:block max-w-sm text-center bg-white border-b-2 border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                                        <h5 class="mb-2 text-lg lg:text-2xl font-bold text-gray-900 dark:text-white">Friday</h5>
                                    </div>
                                    <div class="hidden md:block max-w-sm text-center bg-white border-b-2 border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                                        <h5 class="mb-2 text-lg lg:text-2xl font-bold text-gray-900 dark:text-white">Saturday</h5>
                                    </div>
                                    {% for week in list_of_days %}
                                        {% for day in week %}
                                            {% if day > 0 %}
                                                <a href=""
                                                   hx-get="{% url "attendance:assign_shift" selected_department.id selected_year selected_month day %}"
                                                   class="max-w-full md:max-w-sm p-4 md:p-6 border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 bg-white flex flex-col items-center">
                                                    <div class="w-auto mb-2">
                                                        <h5 class="text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{ day }}</h5>
                                                    </div>
                                                    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400 text-center">
                                                        {% for holiday in holidays %}
                                                            {% if day == holiday.0 %}
                                                                Holiday
                                                                <br>
                                                                ({{ holiday.1 }})
                                                            {% endif %}
                                                        {% endfor %}
                                                    </p>
                                                </a>
                                            {% else %}
                                                <div></div>
                                            {% endif %}
                                        {% endfor %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    {% endblock %}
                </div>
            {% endblock %}
        </div>
    </div>
{% endblock %}
